.welcome-header {
  margin: 90px 0px 50px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome-header img {
  width: 200px;
  height: 200px;
  margin-bottom: 25px;
}
.welcome-header__title {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 25px;
}

.welcome-header__text {
  width: 60%;
  opacity: 0.6;
  line-height: 25px;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}
#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  transition: border-color 0.2s ease-in-out;
}
#login-form input {
  border: none;
  padding: 20px 0px;
  font-size: 16px;
  margin-bottom: 20px;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus {
  border-color: var(--yellow);
}

#login-form input[type="submit"] {
  background-color: var(--yellow);
  cursor: pointer;
  border-radius: 5px;
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 13px;
}

#index-body {
  box-sizing: border-box;
  height: 700px;
}
