@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;500;800&display=swap");
@import "reset.css";
body {
  font-family: "Nunito", sans-serif;
  height: 800px;
  width: 350px;
}

.header {
  background-color: powderblue;
  width: 350px;
  height: 90px;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.title {
  position: relative;
  top: 30px;
  width: 330px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  position: relative;
  top: -22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search__all {
  width: 300px;
  height: 44px;
  background-color: white;
  box-shadow: 0px 5px 10px rgb(197, 197, 197);
  border-radius: 22px;
  display: flex;
  align-items: center;
}

.search__box {
  color: rgb(197, 197, 197);
  width: 100%;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
}
.main {
  width: 100%;
}
.comp {
  margin-left: 20px;
  margin-bottom: 20px;
}

.comp__box {
  display: flex;
  align-items: center;
}

h2 {
  font-weight: 800;
  font-size: 22px;
  padding: 15px 0px;
}

.day__cover {
  width: 120px;
  height: 180px;
  border-radius: 10px;
}

.day__info {
  height: 180px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h3 {
  font-weight: 800;
  font-size: 18px;
}
div > span {
  color: rgb(197, 197, 197);
}
.day__info__titlebox {
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  font-family: "Nunito", sans-serif;
  background-color: rgb(241, 241, 241);
  padding: 5px 10px;
  border: 0px;
  border-radius: 5px;
}
.day__info__btn {
  width: 180px;
  display: flex;
  justify-content: space-between;
}
.day__info__btn__bookmark {
  height: 35px;
  width: 35px;
  border-radius: 50px;
  background-color: powderblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.day__info__btn__booknow {
  background-color: black;
  padding: 10px 30px;
  color: white;
}

.top__cover {
  width: 90px;
  height: 120px;
  border-radius: 10px;
}

.top__box {
  display: flex;
  align-items: center;
  overflow-x: scroll;
}
.top__book {
  margin-right: 10px;
}

.popular__cover {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  margin-right: 20px;
}

.popular__box__info__title {
  margin-bottom: 20px;
}

.popular__box__info__body {
  color: rgb(184, 184, 184);
}
